@model IEnumerable<CodingTrainer.CodingTrainerModels.Security.ApplicationUser>

@{
    ViewBag.Title = "UserList";
}

@section scripts {
    <script src="~/Scripts/app/userlist.js"></script>
}

<h2>UserList</h2>

<p>
    @Html.ActionLink("Clear emulation", "Emulate")
</p>
<p>
    <input type="checkbox" id="unprocessed-only-check" /> Unprocessed Users Only
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AssessByRunningOnly)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentChapterNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CurrentExerciseNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Processed)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="@(item.Processed ? "user-processed" : "user-unprocessed")">
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssessByRunningOnly)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentChapterNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentExerciseNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Processed)
            </td>
            <td>
                @Html.ActionLink("Emulate", "Emulate", new { id = item.Id }) |
                @Html.ActionLink("Edit", "Edit", new { id = item.Id })
            </td>
        </tr>
    }

</table>
