@model CodingTrainer.CodingTrainerModels.Exercise

@{
    ViewBag.Title = "Exercise";
}

@section scripts {
    <script src="~/Scripts/app/sidebar.js"></script>
}

@Html.Action("ExerciseSidebar")

<h2>Exercise - @Model.ExerciseName</h2>

@*This div appears first so it shows first on mobile.
    Bootstrap push/pull classes ensure it shows on the
      right hand side of larger screen*@
<div class="col-md-3 col-sm-12 col-md-push-6">
    <h2>@Model.Chapter.ChapterName</h2>
    <h4>@Model.ExerciseName</h4>

    @Html.Action("Content", "Course", new { Exercise = Model })
</div>

<div class="col-md-6 col-sm-12 col-md-pull-3">
    @Html.Action("RunCode", new { Exercise = Model })
</div>
