@model CodingTrainer.CodingTrainerWeb.Models.RunCodeViewModel

@using (Html.BeginSection("scripts"))
{
    <script src="~/Scripts/jquery.signalR-2.2.2.js"></script>
    <script src="~/signalr/hubs"></script>
    @Scripts.Render("~/bundles/codemirror")
    @Scripts.Render("~/bundles/runcode")
    <script>
        // Get everything started
        var ideGlobals = {};
        (function () {
            var signalRFactory = new SignalRFactory();
            ideGlobals.model = @Html.Raw(Json.Encode(new { Model.Exercise.ChapterNo, Model.Exercise.ExerciseNo, Model.Exercise.DefaultCode, Model.Exercise.HiddenCodeHeader }));
            var serviceFactory = new ServiceFactoryForHiddenCode(signalRFactory, ideGlobals.model.HiddenCodeHeader, @Model.Exercise.ChapterNo, @Model.Exercise.ExerciseNo);
            ideGlobals.ide = new Ide(serviceFactory, @((Model.Exercise.ChapterNo > 0 && Model.Exercise.ExerciseNo > 0).ToString().ToLower()), @Model.FullScreenIde.ToString().ToLower(), ideGlobals.model);
        })();
    </script>
}
@using (Html.BeginSection("styles"))
{
    @Styles.Render("~/Content/codemirror")
    <link href="~/Content/RunCode.css" rel="stylesheet" type="text/css" />
}

<div id="ide">
    @*Theme div is not displayed - can be enabled in browser developer tools if required*@
    <div id="theme-div" class="row bottom-buffer" style="display:none">
        Select theme: @Html.DropDownList("Theme")
    </div>

    @*Popout form is only displayed if we've not been asked to fill the whole screen*@
    @if (!Model.FullScreenIde)
    {
        <form action="@Url.Action("ExercisePopout", "Exercise")" method="post" target="formresult" id="newWindow">
            <input type="hidden" name="chapter" id="chapterInput" value="" />
            <input type="hidden" name="exercise" id="exerciseInput" value="" />
            <input type="hidden" name="code" id="codeInput" value="" />

            <p><a href="@Url.Action("ExercisePopout", "Exercise")" id="popoutLink">Open editor in new window</a>
        </form>
    }

    @*Now the text areas which will form the basis of the IDE*@

    <div id="ide-save-error" class="row" style="display:none">
        <p>
            <strong><span class="text-danger">An error occurred while saving your work.</span>
            The details of the error have been logged. Please contact Coding Trainer for
            more details.</strong>
        </p>
</div>

    <div class="row">
        @Html.TextArea("code", Model.SavedCode ?? Model.Exercise.DefaultCode, new { style = "display:none" })
    </div>
    <div class="row">
        @Html.TextArea("console", new { style = "display:none" })
    </div>
</div>

