@model CodingTrainer.CodingTrainerWeb.ViewModels.ExerciseViewModel

@using (Html.BeginSection("scripts"))
{
    <script src="~/Scripts/jquery.signalR-2.2.2.js"></script>
    <script src="~/signalr/hubs"></script>
    @Scripts.Render("~/bundles/codemirror")
    @Scripts.Render("~/bundles/runcode")
    <script>
        // Get everything started
        (function () {
            var signalRFactory = new SignalRFactory();
            //var serviceFactory = new ServiceFactory(signalRFactory);
            var model = @Html.Raw(Json.Encode(Model));
            var serviceFactory = new ServiceFactoryForHiddenCode(signalRFactory, model.HiddenCodeHeader);
            new Ide(serviceFactory);
        })();
    </script>
}
@using (Html.BeginSection("styles"))
{
    <link href="~/Content/RunCode.css" rel="stylesheet" type="text/css" />
    @Styles.Render("~/Content/codemirror")
}

<div>
    <div>
        Select theme: @Html.DropDownList("Theme")
    </div>
    <div>
        @Html.TextArea("code", Model.DefaultCode, new { style = "display:none" })
    </div>
    <div>
        @Html.TextArea("console", new { style = "display:none" })
    </div>
</div>

