@model CodingTrainer.CodingTrainerWeb.ViewModels.ExerciseViewModel

@{
    ViewBag.Title = "Run Code";
}
@section Scripts {
    <script>
        var hiddenHeaderLength = @Model.HiddenHeaderLength;
    </script>
    <script src="~/Scripts/jquery.signalR-2.2.2.js"></script>
    <script src="~/signalr/hubs"></script>
    @Scripts.Render("~/bundles/codemirror")
    <script src="~/Scripts/app/Console.js"></script>
    <script src="~/Scripts/app/Editor.js"></script>
    <script src="~/Scripts/app/RunCode.js"></script>
}
@section Styles {
    <link href="~/Content/RunCode.css" rel="stylesheet" type="text/css" />
    @Styles.Render("~/Content/codemirror")
}

<div class="row">
    <h2>Run Code</h2>
</div>
<div class="row">
    <div class="col-md-6 col-sm-12">
        <p>Select theme: @Html.DropDownList("Theme")</p>

        @Html.TextArea("code", Model.DefaultCode, new { style = "display:none" })
    </div>
    <div class="col-md-6 col-sm-12">
        @Html.TextArea("console", new { style = "display:none" })
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-sm-12">
        <button id="run" disabled>Connecting</button>
    </div>
</div>
